<html>
<head>
	<title>Marketplace - Dan Baumfeld</title>
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script src="j/bootstrap.js"></script>
	<script src="j/mustache.js"></script>
	<script src="j/data.js"></script>
	<script src="j/az.js"></script>
	
	
	<link rel="stylesheet" href="c/flo.css">
	<link rel="stylesheet" href="c/az.css">
	
	<script type="text/templates" id="az_container">	
		<div id="container"></div>
	</script>
	
	<script type="text/templates" id="az_nav">	
		<div id="nav">
			{{title}} - 
			<div id="rating" class="sort">rating</div> 
			<div id="price" class="sort">price</div> 
			<div id="date" class="sort">date</div>
		</div>
	</script>
	
	<!-- TODO: add 'Add to cart buttons' -->
	<script type="text/templates" id="az_flo_card">	
		<div class="flo_card" id="flo{{flo_id}}">
			{{name}}<br><br>

			{{desc}}<br>
			{{author}}<br>
			${{price}}<br>
			{{rating}} / {{max}}<br>
		
		</div>
	</script>
	
</head>
<body>
	
</body>
</html>