#container{
	
}

#nav{
	width: 100%;
	padding: 5px 10px 5px 10px;
}

.flo_card{
	width: 200px;
	height: 200px;
	border: 1px solid #666;
	display: inline-block;
	vertical-align:top;
	margin: 0 0 5px 10px;
	padding: 2px;
}

.sort{
	display: inline-block;
	color: blue;
	cursor: pointer;
}
